canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 600px;
    background-image: url("images/Background_Start.png");
}

table, th,td {
    text-align: left;
    table-layout: fixed;
}
table.header{
    position: relative;
    top: 10px; 
}

table.score {
    position: relative;
    top: -90px;
}
table.slidertable{
    position: relative;
    top: -90px;
}

table.praesentation{
    position: relative;
    top: -100px;
    left: 25px;
}

td.secondrow{
    position: relative;
    top: -20px;
}

button{
    background-color:#7892c2;
	border-radius:42px;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	padding:5px 50px;
	text-decoration:none;
    position: relative;

}
button:hover {
	background-color:#476e9e;
}
button.startbutton{
	font-size:28px;
	padding:15px 76px;
    position: relative;
    top: -340px;
}

button.towerupgradebutton{
	padding:5px 35px;
}

button.audio_off{
    padding: 5px;
    font-size: 17px;
    position: relative;
    top: -2px;
}

button.nextLvlButton{
    padding:5px 30px;
}

button.gameOverButton{
    padding:5px 25px;
}

button.goldButton{
    padding:5px 31px;
}

button.lifeButton{
    padding:5px 43px;
}

h3{ font-family:Verdana;
	font-size:20px;
    color:#476e9e;
}
h3.counter{
    position: relative;
    top: 10px; 
}
h3.music{
    font-size:17px;
}
h3.for_Presentation{
    position: relative;
    top: -90px;
    left: -280px;
    font-size:17px;
}
h3.info{
    color: #4e6096;
}

.slider {
  -webkit-appearance: none;  /* Überschreibt das default CSS */
  appearance: none;
  width: 540px;
  height: 20px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Überschreibt das default CSS */
  appearance: none;
  width: 25px;
  height: 25px;
  background: #476e9e; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #476e9e;
  cursor: pointer;
}
    





